@model Forum.Models.Post
@using Forum.Models


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Username
        </dt>

        <dd>
            @{ var name = String.Empty;}
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                ApplicationDbContext db = new ApplicationDbContext();
                var user = db.Users.First(z => z.Id == Model.UserID);
                name = user.UserName;
            }
            @name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            Vote Count
        </dt>

        <dd>
            @{ var count = Model.UpVoteCount - Model.DownVoteCount;}
            @count
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />
@{
    var Database = new ApplicationDbContext();
    var commentList = Database.Comments.Where(w => w.PostID == Model.ID);
}
<div class="partialContainer">
    <div class="row">
        @foreach (var comment in commentList)
        {
            <div class="col-md-3">
                @Html.Partial("_voteCounter", Model)
            </div>
            <div class="col-md-9">
                @Html.Partial("_Comment", comment)
            </div>
        }
    </div>

    <div>
        <form method="post" action="~/Comments/Create">
            <textarea name="commentBody" rows="10" cols="10"></textarea>
            <input type="text" name="userID" value="@Model.UserID" class="hidden" />
            <input type="text" name="postID" value="@Model.ID" class="hidden" />
            <input type="submit" value="Post Comment" />
        </form>
    </div>
</div>