@model IEnumerable<Forum.Models.Post>
@using Forum.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Make a New Post", "Create", "Posts")</p>

@foreach (var post in Model)
{
    <div class="media row">   
            <div class="media-left col-md-1">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>                    
            </div>
            <div class="col-md-1">
                <span>@post.NumberOfVotes upvotes</span>
            </div>
            <div class="media-body col-md-10">
                <h4 class="media-heading"><a href="~/Posts/Details?Id=@post.ID">@post.Title</a></h4>
                @{ var name = String.Empty;}
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    ApplicationDbContext db = new ApplicationDbContext();
                    var user = db.Users.First(z => z.Id == post.UserID);
                    name = user.UserName;
                }
                <span>Submitted @post.DatePosted.ToShortDateString() by @name</span>
            </div>
    </div>
}

<li class="list-group-item disabled">
    <div class=" text-center">
        <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        
        <li><a href="~/Home/Index?pageIndex=1">1</a></li>

        <li><a href="~/Home/Index?pageIndex=2">2</a></li>

        <li><a href="~/Home/Index?pageIndex=3">3</a></li>

        <li><a href="~/Home/Index?pageIndex=4">4</a></li>

        <li><a ifef="~/Home/Index?pageIndex=5">5</a></li>

        <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</li>
        


